/* Navbar.jsx */
header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid gray;
}
header a{
  text-decoration: none;
}
header a.header_left{
  color: crimson;
}
.icon{
  font-size: 25px;
}
header h1.title{
  display: inline;
  font-size: 25px;
  font-weight: bold;
  color: crimson;
}
.header_right > * {
  margin: 0 10px;
}
.header_right a{
  color: black;
  font-weight: bold;
}
.header_right button{
  font-size: 15px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Home.jsx */
div.home{
  padding:0px; margin:0px; 
  width: 100%;
  height: 500px;
}
div.home_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-image: url('https://atimg.sonyunara.com/files/attrangs/new_banner/1699318539_0.jpg');
}
div.home_main p{
  margin: 0;
  color: #000;
}
div.home_main p:first-of-type{
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}
div.home_main p:last-of-type{
  font-size: 18px;
}
/* AllProducts.jsx */
div.allProducts{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
}
div.allProducts div{
  margin: 10px 5px 0;
  width: 24%;
}
.allProducts img{
  width: 100%;
  border-radius: 0.3rem;
}
/* ProductDetail.jsx */
.productDetail{
  margin: 0 auto;
  display: flex;
  padding: 10px;
  width: 80%;
}
.productDetail > div{
  margin: 10px 20px;
  width: 50%;
  height: 800px;
}
.detail_left img{
  width: 100%;
}
.detail_right {
  width: 90%;
  height: 30px;
}
.detail_right_bigger{
  font-size: 20px;
  font-weight: bold;
}
div.optionBox{
  margin-bottom: 20px;
}
.optionText{
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: crimson;
}
.detail_select{
  width: 80%;
  height: 30px;
  border: 3px dashed crimson;
  /* outline: none; */
}
button.detail_button{
  width: 90%;
  height: 40px;
  background: crimson;
  color: #FFF;
  cursor: pointer;
}

/* NewProducts.jsx */
div.newProducts{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
div.newProducts form.newProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.newProducts ul{
  padding: 0;
  margin: 10px 0;
  width: 80%;
}
form.newProducts li{
  list-style: none;
}
div.newProducts form input{
  margin: 5px 0;
  width: 100%;
  height: 40px;
}
div.newProducts div input::placeholder{
  font-size: 20px;
}
button.newProducts_btn{
  padding: 10px;
  width: 90%;
  font-size: 20px;
  color: #FFF;
  background: crimson;
  border: none;
  cursor: pointer;
}

/* ProductAvata.jsxs */
.productavata_image {
  /* border:1px solid red; */
  width:300px; height:380px; 
  margin: 0.5rem 0;
}
.productavata {
  /* border:1px solid red; */
  width:400px; height:480px;
  text-align:center;
  padding-left:30px;
  float:left;
}

/* Quantity.jsx */
.quantity{
  display: flex;
}
.quantity p.optionText{
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: crimson;
}
.quantity p.optionBox{
  text-align:center;
}
.quantity span{
  /* padding-top:0.2rem; */
  display:block;
  float:left;
  width:30px; 
  height:28px;
  border:1px solid lightgray;
  border-radius: 0.2rem;
  background-color: rgb(243, 242, 242);
}
.quantity span:nth-of-type(2){
  background-color: white;
}
.quantity span:nth-of-type(odd){
  cursor: pointer;
}
.quantity input[type='checkbox'] {
  width:30px; height:30px;
  border:1px solid lightgray;
  /* border-radius: 0.2rem; */
  /* background-color: rgb(243, 242, 242); */
  display:block;
  float:left;
  margin-top:0px;
}

/* MyCart.jsx */
.mycart, .cart_table{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.cart_img{
  margin-right: 20px;
  width: 150px;
}
.cart_title{
  font-size: 40px;
  font-weight: bold;
}
.cart_table{
  width: 80%;
}
.product_info{
  text-align: left;
}
.cart_pimage{
  margin-right: 30px;
  width: 100px;
}
.product_etc{
  text-align: center;
}
.product_etc .quantity{
  display: inline;
}
.mycart .cart_deleteBtn{
  background-color: crimson;
  border: none;
}
.mycart th, td, tr{
  text-align: center;
  vertical-align: middle;
}
.priceWrap{
  padding: 30px 0;
  width: 80%;
  margin: 20px auto;
  border: 1px solid lightgray;
}
.priceWrap span{
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.priceWrap span:last-of-type{
  font-size: 25px;
  font-weight: bold;
  color: red;
}
.mycart .orderBtn{
  background: crimson;
  border: none;
}

/* MyOrder.jsx */
.order{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}
.order .payBtn{
  background: crimson;
  border: none;
}

/* NotFound.jsx */
.notfound{
  width: 100%;
}